APScheduler==3.3.1
click==6.6
decorator==4.0.10
docopt==0.6.2
Flask==0.11.1
Flask-Cors==3.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.8
markovify==0.4.3
MarkupSafe==0.23
nltk==3.2.1
oauthlib==2.0.0
pipreqs==0.4.7
praw==3.5.0
psycopg2==2.6.2
python-twitter==3.1
pytz==2016.6.1
PyYAML==3.11
requests==2.10.0
requests-oauthlib==0.7.0
six==1.10.0
SQLAlchemy==1.0.14
textblob==0.11.1
tweepy==3.5.0
twitter==1.17.1
typing==3.5.2.2
tzlocal==1.4
Unidecode==0.4.19
update-checker==0.11
virtualenv==15.0.3
voluptuous==0.8.9
Werkzeug==0.11.11
yarg==0.1.9
